.form {
	padding: 100px 10px 30px 10px;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-image: url("../../img/bg3.jpeg");
	background-position: center center;
	color: #fff;
	&_wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&_title{
		text-align: center;
		font-size: 40px;
	}
	.small {
		display: flex;
		justify-content: space-between;
		&_item {
			width: 47%;
		}
	}
	&_item {
		margin-top: 20px;
	}
	&_input {
		height: 50px;
		padding: 0 20px;
		border-radius: 5px;
		width: 100%;
		font-size: 18px;
		background-color: rgba(255, 255, 255, 0.7);
		&:focus{
			box-shadow: 0 0 20px rgba(231, 226, 220, 0.732);
		}
	}
	&_select {
		height: 50px;
		width: 100%;
		border-radius: 5px;
		font-size: 18px;
		padding: 0 20px;
		appearance: none;
		overflow: hidden;
		background-color: rgba(255, 255, 255, 0.7);
	}
	&_button {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
		width: 100%;
		min-height: 60px;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 2px;
		text-transform: uppercase;
		color:#fff;
		background: rgba(255, 255, 255, 0.2);
		cursor: pointer;
		padding: 14px 15px;
		border: 1px solid #fff;
		border-radius: 10px;
		letter-spacing: .08em;
		text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
		position: relative;
		&:hover {
			color: #333;
			background: #fff;
		}
		&:active {
			top: 3px;
			box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.12);
		}
	}
}

@media (max-width: 479.98px) {
	.container{
		width: 100%;
	}
	.form{
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 80px 10px;
		&_title{
			font-size: 24px;
		}
		&_item {
			margin-top: 10px;
		}
		&_input {
			height: 40px;
		}
		&_button {
			min-height: 50px;
		}
	}
}