.promo {
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 100px 0 150px 0;
	-webkit-animation: slide 15s infinite;
	-moz-animation: slide 15s infinite;
	animation: slide 15s ease infinite;
	transition: all 0.5s ease;
	&_title {
		font-size: 50px;
		font-weight: 300;
		color: rgb(255, 255, 255);
		font-family: Impact, Charcoal, sans-serif;
		text-align: center;
	}
	&_img {
		margin-top: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		img {
			max-width: 25%;
			height: 75px;
		}
	}
	&_descr {
		margin: 20px auto;
		max-width: 500px;
		font-size: 20px;
		font-weight: 400;
		color: #FFFFFF;
		text-align: center;
	}
	&_button {
		display: block;
		margin: 0 auto;
		box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
		background-color:$main-color;
		padding: 12px 25px;
		border-radius: 30px;
		margin-top: 100px;
		transition: all 0.5s ease-out;
		&:hover {
			background-image: linear-gradient(0deg, #3498db 0%, #2980b9 100%);
		}
		&_phone {
			font-size: 14px;
			line-height: 21px;
			font-weight: 500;
			color: rgb(255, 255, 255);
			font-family: Roboto;
			text-transform: uppercase;
			&:hover {
				color: rgb(255, 255, 255);
			}
		}
	}
}

@keyframes slide {
	0% {
		background-image: url("../img/bg1.jpeg");
		transition: all 0.5s ease;
	}
	50% {
		background-image: url("../img/bg3.jpeg");
		transition: all 0.5s ease;
	}
	100% {
		background-image: url("../img/bg4.jpeg");
		transition: all 0.5s ease;
	}
}

@media (max-width: 479.98px) {
	.promo {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		.container {
			width: 100%;
		}
		&_title {
			font-size: 40px;
		}
		&_info {
			display: flex;
			align-items:center;
			flex-direction: column;
			justify-content: space-between;
		}
		&_descr {
			font-size: 14px;
		}
		&_img {
			margin-top: 0;
			width: 100%;				
			img {
				height: 50px;
			}
		}
		&_button {
			background-image: none;
			background-color: $main-color;
			margin-top: 50px;
			&:hover {
				background-image: none;
				cursor: none;
			}
		}
	}
}
