//<MIXINS>======================================================================================
//@import "base/mixins";
//</MIXINS>======================================================================================
//<FONTS>=======================================================================================

//<Connecting fonts>============================================================================
//&display=swap
//@import "fonts";
//</Connecting fonts>============================================================================
* {
	font-family: 'Roboto'
}
//<Icons Fonts>=================================================================================
//@import "icons";
//</Icons Fonts>=================================================================================

//<Default font>================================================================================
//$fontFamily: ;
//</Default font>================================================================================

//</FONTS>=======================================================================================

//<VARIABLES>====================================================================================
$main-color: #3498db;
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1170px;
$md1: calc(var($maxWidthContainer) + 10px);
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</VARIABLES>====================================================================================

//<NULL, COMMON PARAMETERS>========================================================================
@import "base/null";
body {
	color: #000;
	font-style: 14px;
	&._lock {
		overflow: hidden;
	}
}
//</NULL, COMMON PARAMETERS>========================================================================

//<cover>===================================================================================
@import "blocks/navbar";
@import "blocks/promo";
@import "blocks/about";
@import "blocks/solutions";
@import "blocks/footer";
@import "blocks/form";
@import "blocks/button";
//</cover>===================================================================================

//<MAIN LAYOUT>=================================================================================
.container {
	min-width: calc(var($maxWidthContainer) + 10px);
	margin: 0 auto;
	@media (max-width: $md1) {
		min-width: 970px;
	}
	@media (max-width: $md2) {
		min-width: 750px;
	}
	@media (max-width: $md2) {
		min-width: none;
		padding: 0 10px;
	}
}
//<MAIN LAYOUT>=================================================================================

